*~

# Vim
*.swp
*.swo
Session.vim

# Emacs
\#*\#

# ST
*.sublime-workspace

# Java
*.class
*.jar

# C
a.out

# Python
*.pyc
__pycache__

# OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# R
.Rhistory

# LaTeX
*.aux
*.dvi
*.idx
*.log
*.ps
*.toc

# PDF & co
*.pdf
*.ps

# OS X
.DS_Store
.Spotlight-V100
.Trashes
