article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.2em;
  color: #333;
  text-align: center;
  padding-right: 120px;
}

body > nav,
body > article {
  text-align: left;
}

body > header {
  text-align: center;
  border: 2px solid #006;
  background-color: #DDE;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 40px;
}

blockquote footer {
  text-align: right;
}
blockquote cite {
  font-weight: bold;
}

nav.main {
  position: fixed;
  right: 5px;
  padding: 5px 10px 5px 20px;

  border: 2px solid #006;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav a {
  color: inherit;
}

article {
  border-top: 1px solid #666;
  padding: 0 25px 20px 25px;
}

article h1 {
  margin-bottom: 0;
}

article header {
  margin-bottom: 20px;
}

article blockquote {
  padding: 0;
  margin: 0;
}

article p {
  padding: 0;
  margin: 10px;
}

article figure {
  float: left;
  margin: 20px 20px 13px;
}

figure figcaption {
  font-size: 0.6em;
  color: #666;
}
